<ion-header>
  <ion-toolbar>
    <ion-title>animal-guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content

>
  <ion-grid>
    <ion-row fixed>
      <ion-col size="6" offset="3">
        <ion-item>
          <ion-label position="stacked">Digite o Animal</ion-label>
          <ion-input></ion-input>
          <ion-button (click)="Get()"></ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button (click)="consolel(species)"></ion-button>
    <ion-row>
      <ion-col *ngFor="let spp of species">
        <ion-card class="animal__card">
          <ion-list>
            <ion-row>
            <ion-col *ngFor="let picture of spp.pictures">
                <ion-img style="margin:autp;height:auto; width:30vw"[src]="picture.img_url"></ion-img>
            </ion-col>
          </ion-row>
          </ion-list>
          <ion-card-header>
            <ion-card-subtitle><em>{{spp.genus}} {{spp.species}}</em></ion-card-subtitle>
            <ion-card-title>{{spp.port_name}}</ion-card-title>
          </ion-card-header>

          <ion-list>
</ion-list>
          <ion-card-content>
            <h1>Características</h1>
            <ion-item *ngFor="let char of spp.characteristics">
             <strong><h2>{{char.type}}:</h2></strong><p>{{char.description}}</p>
             
            </ion-item>
          
          </ion-card-content>
          <ion-chip color="danger">
            <ion-label>EW - Risco de Extinção</ion-label>
          </ion-chip>
          <ion-chip color="danger">
            <ion-label>Risco de Zoonoses - Alto</ion-label>
          </ion-chip>
          <ion-chip color="success">
            <ion-label>Frequencia de Trafico - Baixa</ion-label>
          </ion-chip>
          <ion-button expand="block" color="dark">Detalhes</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="add-sharp">Adicionar Ocorrência</ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="location-sharp">Mapa</ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="document-sharp">Legislação</ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
